# --------------------------------------------------------------------------------------------------
# Carthage Update
# --------------------------------------------------------------------------------------------------
# carthage update --platform iOS --use-submodules

# --------------------------------------------------------------------------------------------------
# WYZzarz
# --------------------------------------------------------------------------------------------------
github "wyzzarz/SwiftCollection" "dev"
