# --------------------------------------------------------------------------------------------------
# Carthage Update
#
# Run carthage-update.sh to install and update Carthage packages.
# --------------------------------------------------------------------------------------------------
# carthage update --platform iOS --use-submodules

# --------------------------------------------------------------------------------------------------
# WYZzarz
# --------------------------------------------------------------------------------------------------
github "wyzzarz/SwiftCollection" "dev"
